extends layout

block content
    h1 Sistema utilizando node.js
        h3 node.js - expressjs - bootstrap
    br
    a(href="/somar" title="Somar") Somar
    br
    a(href="/subitrair" title="Subitrair") Subitrair
    br
    a(href="/multiplicar" title="Multiplicar") Multiplicar
    br
    a(href="/dividir" title="Dividir") Dividir